<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>


<div th:fragment="navbar">
    <div class="header">

        <a href="/">
            <img src="przepysztaWhite%20—%20kopia.png" width="206.85" height="70">
        </a>

        <a href="/add">
            <button class="button">
                <img src="addButton2.png" width="120" height="80">
            </button>
        </a>

        <a href="/">
            <button class="button">
                <img src="showByNewest.png" width="120" height="80">
            </button>
        </a>


    </div>
</div>

</body>
</html>